.centered
	.card.border-left-behind
		.shadow(style="--url: url('https://e0.pxfuel.com/wallpapers/973/135/desktop-wallpaper-wild-animal-best-animals-gallery-2018-ultra-android.jpg')")
		.image.background(style="--url: url('https://i.ibb.co/JpJVJxq/Background.png')")
		.image.cutout(style="--url: url('https://i.ibb.co/Dw3q3tZ/cutout.png')")
		.content
			h2 Hover me!
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
	.card.border-right-behind.border-bottom-behind
		.shadow(style="--url: url('https://e0.pxfuel.com/wallpapers/973/135/desktop-wallpaper-wild-animal-best-animals-gallery-2018-ultra-android.jpg')")
		.image.background(style="--url: url('https://i.ibb.co/ZdGBm4K/m-background.png')")
		.image.cutout(style="--url: url('https://i.ibb.co/RC70XmC/m-cutout.png')")
		.content
			h2 Hover me!
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
	.card.border-left-behind
		.shadow(style="--url: url('https://e0.pxfuel.com/wallpapers/973/135/desktop-wallpaper-wild-animal-best-animals-gallery-2018-ultra-android.jpg')")
		.image.background(style="--url: url('https://i.ibb.co/MDBcyMW/b-background.png')")
		.image.cutout(style="--url: url('https://i.ibb.co/bQNgD6y/b-cutout.png')")
		.content
			h2 Hover me!
			p Lorem, ipsum dolor sit amet consectetur adipisicing elit.